name: maintain

on:
  push:
    branches:
      - main

jobs:
  maintain:
    runs-on: ubuntu-latest
    env:
      SITE_SSH_HOST: '${{ secrets.SITE_SSH_HOST }}'
      SITE_SSH_USER: '${{ secrets.SITE_SSH_USER }}'
      SITE_SSH_PRIVATE_KEY: '${{ secrets.SITE_SSH_PRIVATE_KEY }}'
      SITE_SSH_PATH_EN: '${{ secrets.SITE_SSH_PATH_EN }}'
      SITE_SSH_PATH_RU: '${{ secrets.SITE_SSH_PATH_RU }}'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2147483647

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build English site version
        run: npm run build

      - name: Deploy English site version
        uses: easingthemes/ssh-deploy@v5.1.0
        env:
          SSH_PRIVATE_KEY: ${{ env.SITE_SSH_PRIVATE_KEY }}
          ARGS: '-rltgoDzvO --delete'
          SOURCE: 'dist/'
          REMOTE_HOST: ${{ env.SITE_SSH_HOST }}
          REMOTE_USER: ${{ env.SITE_SSH_USER }}
          TARGET: ${{ env.SITE_SSH_PATH_EN }}
          SCRIPT_BEFORE: |
            whoami
            ls -al > /dev/null
          SCRIPT_AFTER: |
            whoami
            ls -al > /dev/null
            echo $RSYNC_STDOUT
            exit

      - name: Build Russian site version
        run: LANGUAGE=ru npm run build

      - name: Deploy Russian site version
        uses: easingthemes/ssh-deploy@v5.1.0
        env:
          SSH_PRIVATE_KEY: ${{ env.SITE_SSH_PRIVATE_KEY }}
          ARGS: '-rltgoDzvO --delete'
          SOURCE: 'dist/'
          REMOTE_HOST: ${{ env.SITE_SSH_HOST }}
          REMOTE_USER: ${{ env.SITE_SSH_USER }}
          TARGET: ${{ env.SITE_SSH_PATH_RU }}
          SCRIPT_BEFORE: |
            whoami
            ls -al > /dev/null
          SCRIPT_AFTER: |
            whoami
            ls -al > /dev/null
            echo $RSYNC_STDOUT
            exit
